<.flash_group flash={@flash} />
<main class="w-full max-w-8xl">
  <%!-- hero section --%>
  <div class="text-foreground bg-[#EBEDE8] h-screen px-16 py-4 w-full">
    <.navbar /> <.hero />
  </div>
  <.features /> <.integrations /> <.testimonial /> <.stats /> <.cta /> <.footer />
</main>
